.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 0;
    background-color: var(--dark-slate);
    text-align: center;
    line-height: 1.5em;
}

.about__title {
    font-size: 25px;
    color: var(--white);
    margin-bottom: 10px;
}

.about__description {
    text-align: left;
    margin: 15px 5%;
    display: inline-block;
    font-size: 15px;
    font-style: italic;
    color: var(--white);
}

@media(min-width:425px) and (max-width:767px) {
    .about__description {
        font-size: 15px;
        margin: 0 15%;
    }
}

@media(min-width:320px) and (max-width:424px) {
    .about__description {
        font-size: 10px;
        margin: 0 10%;
    }
}