.about__container {
    display: flex; /* Activamos Flexbox */
    flex-direction: column; /* Para que los elementos se apilen verticalmente */
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
    padding: 50px 50px; /* Ajusta padding horizontal si quieres */
    background-color: var(--grey);
    text-align: center;
    line-height: 1.5em;
}

.about__title {
    font-size: 25px;
    color: var(--white);
    margin-bottom: 10px;
}

.about__description {
    text-align: left;
    margin: 15px 10%;
    display: inline-block;
    font-size: 15px;
    font-style: italic;
    color: var(--white);
}

@media(min-width:425px) and (max-width:767px) {
    .about__description {
        font-size: 12px;
        margin: 0 15%;
    }
}

@media(min-width:320px) and (max-width:424px) {
    .about__description {
        font-size: 10px;
        margin: 0 10%;
    }
}