.arrow__down {
    position: fixed;
    top: calc(40vh);
    left: 30px;
    color: var(--blue);
    font-size: 15px;
    writing-mode: vertical-rl;
    letter-spacing: 5px;
    text-orientation: mixed;
    animation-name: moviendrew;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-weight: 600;
}

.arrow-text {
    display: inline-block;
    transform: rotate(180deg);
}

.arrow__down.hidden {
    opacity: 0;
    pointer-events: none;
}

@keyframes moviendrew {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
    }
}

/* Mobiles y tablets */
@media (max-width: 768px) {
    .arrow__down {
        left: 10px;
    }
}