.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 50px;
    text-align: center;
}

.footer__container a {
    padding: 10px;
    color: var(--grey);
    text-decoration: none;
    display: inline-block;
}

/* Responsive: en pantallas pequeñas */
@media (max-width: 767px) {
    .footer__container {
        padding: 0 20px;
        line-height: 40px;
    }
}