.footer__container {
    background: linear-gradient(to right, var(--dark-blue), var(--blue));
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__container a {
    padding: 0 10px;
    color: var(--white);
    text-decoration: none;
}

@media(min-width:320px) and (max-width:767px) {
    .footer__container {
        line-height: 40px;
        justify-content: center;
        flex-direction: column;
    }
}