.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    /* background: linear-gradient(to right, var(--dark-blue), var(--blue)); */
    /* border-bottom: 1px dashed var(--black); */
}

.header__menu {
    width: 100%;
    height: 100%;
}

.header__links {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: var(--light-black);
    z-index: 1;
}

.header__link {
    color: var(--white);
    text-decoration: none;
    padding: 30px;
    font-size: 1.2rem;
}

.underline {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--blue);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .6s ease-in-out;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform .6s ease-in-out;
}

.header__btn-menu {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1;
    display: unset;
    cursor: pointer;
}

.header__btn-menu--close{
    color: var(--white);
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1;
    display: unset;
    visibility: hidden;
    cursor: pointer;
}

.header__btn {
    margin-top: -25px;
    margin-right: 50px;
    padding-right: 30px;
    z-index: 1;
}

@media(min-width:769px) {
    .header__btn-menu {
        top: 30px;
        left: 80px;
    }

    .header__btn-menu--close {
        top: 30px;
        left: 80px;
    }

    .header__btn {
        margin-top: -25px;
        margin-right: 100px;
    }
}