.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, var(--dark-blue), var(--blue));
    border-bottom: 1px dashed var(--black);
}

.header li {
    display: inline-block;
}

.header__link {
    color: var(--white);
    text-decoration: none;
    padding: 15px;
    font-size: 1.2rem;
    font-family: monospace;
}

.underline {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--blue);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .6s ease-in-out;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform .6s ease-in-out;
}

.header__btn {
    margin-top: -23px;
    margin-right: 50px;
}

@media (max-width:768px) {
    .header__link {
        padding: 10px;
    }
}

@media(min-width:425px) and (max-width:768px) {
    .header__menu {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
    .header__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--light-black);
        height: 100vh;
        /* display: none; */
    }
    .header__link {
        padding: 30px;
    }
    .header__btn {
        position: absolute;
        top: 50px;
        right: 10px;
        z-index: 1;
    }
}

@media(min-width:320px) and (max-width:424px) {
    .header__menu {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100vh;
        z-index: 1;
    }
    .header__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--light-black);
        height: 100vh;
        /* display: none; */
    }
    .header__btn {
        position: absolute;
        top: 50px;
        right: 10px;
        z-index: 1;
    }
}