.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, var(--dark-blue), var(--blue));
    border-bottom: 1px dashed var(--black);
}

.header li {
    display: inline-block;
}

.header__link {
    color: var(--white);
    text-decoration: none;
    padding: 15px;
    font-size: 1.2rem;
    font-family: monospace;
}

.underline {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--blue);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .6s ease-in-out;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform .6s ease-in-out;
}

.header__btn {
    margin-top: -23px;
    margin-right: 50px;
}

@media screen and (max-width: 768px) {
    .header__link {
        padding: 10px;
    }
}