main>div {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 100vh;
}

.main__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
}

.main__profile--img {
    padding: 10px;
    width: 150px;
    border-radius: 100%;
}

.main__container--title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.main__title {
    font-size: 50px;
    white-space: nowrap;
    border-right: 4px solid;
    color: var(--dark-blue);
    margin-bottom: 25px;
}

.main__author {
    display: flex;
    font-size: 35px;
    color: var(--blue-tech);
    margin-bottom: 25px;
}

.main__subtitle {
    color: var(--dark-blue);
    font-size: 1rem;
    margin-bottom: 25px;
    font-style: italic;
    letter-spacing: 1px;
}

.main__links {
    display: flex;
    margin-bottom: 25px;
    list-style: none;
}

.main__links li {
    padding: 0 1.5em;
}

.main__links span {
    color: var(--light-blue);
}

.main__link {
    color: var(--grey);
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media(min-width:425px) and (max-width:767px) {

    .main__title {
        font-size: 15px;
    }

    .main__subtitle {
        font-size: 10px;
    }

    .main__links li {
        padding: 0px 0px;
        margin: 5px;
    }
}

@media(min-width:320px) and (max-width:424px) {
    .main {
        margin-top: 15px;
    }
    .main__container {
        flex-direction: column;
        align-items: center;
    }

    .main__profile--img {
        width: 100px;
    }

    .main__title {
        font-size: 12px;
    }

    .main__subtitle {
        font-size: 10px;
    }

    .main__links li {
        padding: 0px 0px;
        margin: 5px;
        font-size: 12px;
    }
}