.skills__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px calc(20% - 100px);
    padding: 25px 0;
}

.skill__title {
    font-size: 25px;
    font-family: monospace;
    color: var(--dark-blue);
}

.skill__subtitle {
    font-size: 15px;
    font-family: monospace;
    font-style: italic;
    color: var(--dark-blue);
}

.skill__cards {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0 50px;
    justify-content: center;
}

.skill__item {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    cursor: pointer;
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.60);
}

.skill__item:hover {
    transform: scale(1.2);
    transition: ease .5s;
}

.skills__img {
    width: 30%;
}