.skills__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    min-height: 100vh;
    background-color: var(--grey);
    color: var(--white);
}

.skill__title {
    font-size: 25px;
}

.skill__subtitle {
    font-size: 15px;
    font-style: italic;
    color: var(--dark-blue);
}

.skill__cards {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 5%;
    gap: 5px;
    justify-content: center;
}

.skill__item {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    cursor: pointer;
    box-shadow: 5px 5px 10px -1px rgba(116, 116, 116, 0.666);
    transition: transform 0.3s ease-in-out;
}

.skill__item:hover {
    transform: scale(1.2);
}

.skills__img {
    width: 30%;
}

@media(max-width:768px) {
    .skill__item {
        width: 75px;
        height: 75px;
    }
    .skill__subtitle {
        font-size: 12px;
    }
}