.works__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.works__title {
    font-size: 25px;
    font-family: monospace;
    color: var(--dark-blue);
}

.works__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.work__img {
    max-width: 400px;
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.60);
    margin: 0 25px;
    border-radius: 10px;
}

.work__info {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-family: monospace;
    color: var(--dark-blue);
    align-self: center;
    width: 19rem;
    text-align: center;
}

.work--title {
    font-size: 20px;
}

.work--subtitle {
    font-size: 12px;
}

.work--description {
    font-size: 10px;
}

.work--button {
    text-decoration: none;
    cursor: pointer;
    font-family: monospace;
    color: var(--white);
    text-align: center;
    margin: 10px 25px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.60);
    background: linear-gradient(to right, var(--dark-blue), var(--blue));
}

@media(min-width:425px) and (max-width:768px) {
    .work__img {
        margin: 5px 0;
        width: 350px;
    }
    .work--title {
        font-size: 15px;
    }

    .work--subtitle {
        font-size: 10px;
    }
}

@media(min-width:320px) and (max-width:424px) {
    .work__img {
        margin: 5px 0;
        width: 250px;
    }
    .work--title {
        font-size: 15px;
    }
    .work--subtitle {
        font-size: 10px;
    }
}
