body {
    background-color: var(--white);
    transition: .5s ease all;
    user-select: none;
}

/*Add dark styles*/
.dark-mode {
    background-color: var(--black);
}
.dark-mode .header {
    background: var(--black);
}
.dark-mode .header__link {
    color: var(--white);
}
.dark-mode .main__title {
    color: var(--white);
}
.dark-mode .main__author {
    color: var(--aqua);
}
.dark-mode .main__subtitle {
    color: var(--white);
}
.dark-mode .main__link{
    color: var(--white);
}

.dark-mode .about__title{
    color: var(--white);
}
.dark-mode .about__description{
    color: var(--white);
}
.dark-mode .skill__title{
    color: var(--white);
}
.dark-mode .formation__title{
    color: var(--white);
}
.dark-mode .formation--info{
    color: var(--white);
}
.dark-mode .years{
    color: var(--white);
}
.dark-mode .works__title {
    color: var(--white);
}
.dark-mode .work__info{
    color: var(--white);
}
.dark-mode .header__btn-menu {
    color: var(--white);
}
.dark-mode .footer__container a {
    color: var(--accent);
}
.dark-mode .arrow__down {
    color: var(--white);
    font-weight: 200;
}