body {
    background-color: var(--white);
    transition: .5s ease all;
    user-select: none;
}

/*Add dark styles*/
.dark-mode {
    background-color: var(--black);
}
.dark-mode .header {
    background: var(--black);
}
.dark-mode .header__link {
    color: var(--white);
}
.dark-mode .main__title {
    color: var(--white);
}
.dark-mode .main__author {
    color: var(--aqua);
}
.dark-mode .main__subtitle {
    color: var(--white);
}
.dark-mode .main__link{
    color: var(--white);
}

.dark-mode .about__tittle{
    color: var(--white);
}
.dark-mode .about__description{
    color: var(--white);
}
.dark-mode .skill__title{
    color: var(--white);
}
.dark-mode .formation__title{
    color: var(--white);
}
.dark-mode .formation--info{
    color: var(--white);
}
.dark-mode .years{
    color: var(--white);
}
.dark-mode .work__info{
    color: var(--white);
}
.dark-mode .header__btn-menu {
    color: var(--white);
}
.dark-mode .footer__container a {
    color: var(--accent);
}
.dark-mode .arrow__down {
    color: var(--white);
    font-weight: 200;
}
/* button styles */
.btn-switch {
    background: var(--black);
    border-radius: 100px;
    border: none;
    position:fixed;
    cursor: pointer;
    outline: none;
    display: flex;
}

.btn-switch span {
    width: 20px;
    height: 20px;
    line-height: 21px;
    display: block;
    background: none;
    color: var(--white);
}

.btn-switch::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: var(--white);
    top: -1px;
    left: 0;
    right: unset;
    border-radius: 100px;
    box-shadow: 0px 0px 2px 2px var(--light-grey);
}

.active {
    background-color: var(--purple-tech);
    color: var(--light-black);
}

.active::after {
    right: 0;
    left: unset;
}
