:root {
    --black: #0e0b09;
    --light-black: #140f07f3;
    --dark-blue: #103051;
    --blue: #0976b5;
    --light-blue: #08c3ff;
    --blue-tech: #0a5fa7;
    --aqua: #0ffff8;
    --white: #f2f2f2;
    --grey: #2a3140;
    --dark-slate: #1b1f29;
    --purple-tech: #6c3db8;
    --text-color: #ffffff;
    --light-grey: rgba(0, 0, 0, .2);
    --accent: #00f5d4;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    overflow-y: auto;
    background-color: var(--white);
}

h1,
footer {
    font-weight: 700;
    font-style: italic;
}

.page-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
}

.main__container,
.about__container,
.skills__container,
.formation__container,
.works__container,
footer {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    min-height: 100vh;
}