:root {
    --black: #140f07;
    --light-black: #140f07f3;
    --dark-blue: #103051;
    --blue: #0976b5;
    --light-blue: #08c3ff;
    --aqua: #0ffff8;
    --white: rgb(242, 242, 242);
    --grey: rgb(52, 61, 91);
}